<div class="p-1 card m-1 d-flex flex-column align-items-stretch shadow" style="width: 400px;">
    <div class="card-body">
        <h3 style="color:rgb(79, 79, 79);font-size: 30px;" class="card-title">
            <p>{{job['title']}}</p>
            </h5>
            <p style="font-size: 20px;" class="card-text"><b>Location:</b> {{job['location']}}</p>
            {% if 'salary' in job %}
            <p class="card-text" style="font-size: 20px;"><b>Salary:</b> {{job['salary']}}</p>
            {% endif %}
    </div>
    <div class="text-center">
        <a href="/job/{{job['jobid']}}" target="_blank">
            <button class="m-3 btn btn-lg btn-primary shadow-sm">Apply</button>
        </a>
    </div>
</div>